body {
  margin: 0;
  background-color: #AEB3BA;
}

textarea {
  resize: none;
  height: 15rem;
}

.background {
  background: url("https://images.unsplash.com/photo-1433567212640-211efabc03e1") no-repeat center center;
  filter: blur(15px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.card {
  margin-top: 3rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 5px 5px 5px #333;
}

.button {
  /* overriding milligram button colors */
  background-color: #2e7995;
  border-color: #55a1bd;
}